about-time==4.2.1
absl-py==2.1.0
aiohttp==3.9.5
aiosignal==1.3.1
alabaster==0.7.16
alive-progress==3.1.5
annotated-types==0.7.0
anyio==4.4.0
astunparse==1.6.3
attrs==23.2.0
autograd==1.6.2
av==12.1.0
Babel==2.10.3
backports.tarfile==1.2.0
beautifulsoup4==4.12.3
bidict==0.23.1
bleach==5.0.1
certifi==2024.6.2
cffi==1.16.0
chardet==5.1.0
charset-normalizer==3.3.2
click==8.1.7
cma==3.2.2
cmarkgfm==0.8.0
coloredlogs==15.0.1
colorzero==2.0
contourpy==1.2.1
cryptography==38.0.4
cycler==0.12.1
datasets==2.20.0
Deprecated==1.2.14
dill==0.3.8
distro==1.8.0
dlib==19.24.4
dnspython==2.6.1
docutils==0.19
email_validator==2.1.1
fastapi==0.111.0
fastapi-cli==0.0.4
fastapi-socketio==0.0.10
filelock==3.15.1
flatbuffers==20181003210633
fonttools==4.53.0
frozenlist==1.4.1
fsspec==2024.5.0
future==1.0.0
gast==0.5.4
google-pasta==0.2.0
gpiozero==2.0
grapheme==0.6.0
grpcio==1.64.1
h11==0.14.0
h5py==3.11.0
html5lib==1.1
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface_hub==0.23.4
humanfriendly==10.0
idna==3.7
imagesize==1.4.1
importlib-metadata==4.12.0
jaraco.classes==3.2.1
jaraco.context==5.3.0
jaraco.functools==4.0.1
jax==0.4.28
jaxlib==0.4.28
jeepney==0.8.0
Jinja2==3.1.4
joblib==1.4.2
JPype1==1.5.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jstyleson==0.0.2
keras==3.3.3
keyring==25.2.1
kiwisolver==1.4.5
konlpy==0.6.0
lgpio==0.2.2.0
libclang==18.1.1
lxml==5.2.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
mdit-py-plugins==0.4.1
mdurl==0.1.2
mediapipe==0.10.14
ml-dtypes==0.3.2
more-itertools==8.10.0
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
myst-parser==3.0.1
namex==0.0.8
natsort==8.4.0
networkx==3.3
ninja==1.11.1.1
nncf==2.11.0
numpy==1.26.4
oauthlib==3.2.2
olefile==0.46
onnx==1.16.1
opencv-contrib-python==4.10.0.82
opencv-python==4.10.0.82
openpibo-detect-models==0.4.4
openpibo-dlib-models==0.4.2
openpibo-face-models==0.4.3
openpibo-models==0.4.7
-e git+https://github.com/themakerrobot/openpibo-python@937fb0dbeed1015558fea8183ef77e7187b247a9#egg=openpibo_python
openvino==2024.2.0
openvino-telemetry==2024.1.0
openvino-tokenizers==2024.2.0.0
opt-einsum==3.3.0
optimum==1.20.0
optimum-intel==1.17.2
optree==0.11.0
orjson==3.10.5
packaging==24.1
pandas==2.2.2
picamera2==0.3.18
pidng==4.0.9
piexif==1.1.3
pigpio==1.78
Pillow==9.5.0
pkginfo==1.8.2
protobuf==4.25.3
psutil==5.9.8
py-cpuinfo==9.0.0
pyarrow==16.1.0
pyarrow-hotfix==0.6
pybind11==2.12.0
pycparser==2.22
pycryptodomex==3.11.0
pydantic==2.7.4
pydantic_core==2.18.4
pydot==2.0.0
Pygments==2.18.0
pymoo==0.6.1.1
PyOpenGL==3.1.6
pyparsing==3.1.2
PyQt5==5.15.9
PyQt5-sip==12.11.1
pyserial==3.5
python-apt==2.6.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.9.1
python-multipart==0.0.9
python-prctl==1.8.1
python-socketio==5.11.2
pytz==2024.1
PyYAML==6.0.1
pyzbar==0.1.9
readme-renderer==37.3
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rfc3986==1.5.0
rich==13.7.1
roman==3.3
rpds-py==0.18.1
RPi.GPIO==0.7.1
safetensors==0.4.3
scikit-learn==1.5.0
scipy==1.13.1
seaborn==0.13.2
SecretStorage==3.3.3
sentencepiece==0.2.0
shellingham==1.5.4
simple-websocket==1.0.0
simplejpeg==1.7.2
six==1.16.0
smbus2==0.4.2
sniffio==1.3.1
snowballstemmer==2.2.0
sounddevice==0.4.7
soupsieve==2.5
Sphinx==7.3.7
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
spidev==3.5
ssh-import-id==5.10
starlette==0.37.2
sympy==1.12.1
tabulate==0.9.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.37.0
termcolor==2.4.0
tf_keras==2.16.0
tflite-runtime==2.14.0
tflite-support==0.1.0a1
threadpoolctl==3.5.0
tiktoken==0.7.0
tinycss2==1.2.1
tokenizers==0.19.1
toml==0.10.2
torch==2.3.1
torchvision==0.18.1
tqdm==4.66.4
transformers==4.41.2
tweepy==4.14.0
twine==5.1.1
typer==0.12.3
typing_extensions==4.12.2
tzdata==2024.1
ujson==5.10.0
ultralytics==8.3.9
ultralytics-thop==2.0.0
urllib3==1.26.12
uvicorn==0.30.1
uvloop==0.19.0
v4l2-python3==0.3.4
watchfiles==0.22.0
webencodings==0.5.1
websockets==12.0
Werkzeug==3.0.3
wrapt==1.16.0
wsproto==1.2.0
xxhash==3.4.1
yarl==1.9.4
zipp==1.0.0
