# sudo apt-get install python3-sphinx
myst_parser
sphinx-rtd-theme
sphinx_copybutton
#https://files.pythonhosted.org/packages/9e/48/1ea60e74949eecb12cdd6ac43987f9fd331156388dcc2319b45e2ebb81bf/sphinx_copybutton-0.5.2-py3-none-any.whl
